.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; /* Fondo negro */
  min-height: 100vh; /* Asegura que el contenedor llene la altura de la ventana */
  color: white; /* Texto blanco para mayor contraste */
}

.signin-background-image {
  width: 50%; /* Ajusta el tamaño de la imagen */
  height: 100vh; /* Asegura que la imagen llene la altura de la ventana */
  object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado sin distorsión */
}

.signin-form {
  width: 50%; /* Ocupa el 50% del espacio restante */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Añade sombra para un efecto elevado */
  background: rgba(0, 0, 0, 0.8); /* Semi-transparente para ver un poco el fondo */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px; /* Espacio entre campos de formulario */
}

.form-input {
  width: 100%; /* Ocupa todo el ancho disponible del contenedor de formulario */
  padding: 10px;
  margin-top: 5px;
  border: none;
  background: #333; /* Fondo más oscuro para los campos de entrada */
  color: white; /* Texto blanco para los campos de entrada */
}

.signin-button {
  width: 100%;
  padding: 10px;
  background: #555; /* Botón un poco más claro que los campos de entrada */
  color: white;
  border: none;
  cursor: pointer;
}

.signin-button:hover {
  background: #777; /* Cambio de color al pasar el ratón */
}
